{% extends "index.html" %}
{% load markup %}
{% load syntax_color %}
{% load i18n %}
{% load disqus_tags %}

{% block title %}
{{ article.art_title }}
{% endblock %}

{% block articles %}
<div class="article">
<p class="article_infos"><i class="date">{{ article.art_pub_date|date:"d M Y" }}</i><br />{% trans "Categories" %}: {{ article.art_category_first }}, {{ article.art_category_second }}</p>
<h2><a href="/artikel/{{ article.id }}">{{ article.art_title }}</a></h2>
<div class="article_text">
{{ article.art_text|pygmentize|textile }}
</div><!-- .article_text -->


{% if podcasts_exist %}
<audio controls>
{% for podcast in podcasts %}

<source src="{{ podcast.pod_link }}" type="{{ podcast.pod_mime }}" />

{% endfor %}
</audio>
<br />
{% endif %}
<p class="tags"><b>{% trans "tagged with" %}:</b> {{ article.art_tags }}</p>
<hr />
<div id="comments">
<!-- If you want to use Disqus for your site, please set this as 
articles.html and rename the other articles.html without diqus to a 
different name. You must set the API_KEY and WEBSITE_SHORT_NAME to use Disqus -->

{% disqus_show_comments %}
</div><!-- #comments -->
</div><!-- .article -->
{% endblock %}
